Package: x-tika
Version: 0.0.14
Architecture: all
Maintainer: Frank Treichl <ft@x-net.at>
Installed-Size: 34840
Pre-Depends: openjdk-7-jre
Section: misc
Priority: optional
Description: Installs apache tika in server mode.
